/* css变量：js不能直接获取scss变量，所以转换成css变量获取 */
/* 全局使用的主题配色 (css 变量) */
:root {
    --text-100: $text-100;
    --text-200: #{$text-200};
    --background-100: #{$background-100};
    --background-200: #{$background-200};
    --background-300: #{$background-300};
    --primary-0: #{$primary-0};
    --primary-100: #{$primary-100};
    --primary-200: #{$primary-200};
    --primary-300: #{$primary-300};
    --accent-100: #{$accent-100};
    --accent-200: #{$accent-200};
}